<form action="/sessions" method="post">
  Email:<br>
  <input type="text" name="user[username]"><br><br>
  Password:<br>
  <input type="password" name="user[password]"><br><br>
  <input type="submit" value="Login">
</form>
