<form action="/users" method="post">
  Username:<br>
  <input type="text" name="user[username]"><br>
  Email:<br>
  <input type="text" name="user[email]"><br><br>
  Password:<br>
  <input type="text" name="user[password]"><br><br>
  <input type="submit" value="Sign up">
</form>

<% @user.errors.full_messages.each do |error| %>
  <p><%= error %></p>
  <% end %>
