<form action='/guesses' method='post'>
  <div>
    <label>Question</label>
    <input type='text'>
  </div>
  <div>
    <label>Answer</label>
    <input type='text'>
  </div>
  <input type='submit' value="Guess">
</form>
