<title>Trizzlit Deck</title>

<div class="heading">
  <footer>
    <img class="logo" src="http://apps.fellowes.com/microsite/IdeaCenter/projects/school/flash-cards/math-multiplication/preview.png"></img>
  </footer>

    <footer align="right">
      <a href="/user/user.id" style="color:white">PROFILE</a> | <a href="/user/user.id" style="color:white">LOGOUT</a> | <a href="/user/user.id" style="color:white">HOME</a>
    </footer>

</div>

<div class="card">
  <h1> Deck Name </h1>

  <p>In what year was the first Harry Potter movie release?</p><br>
    <input type="text" placeholder="Enter your guess">

  <form action='/guesses' method="post">
    <input type="submit" value="Guess">
  </form>
</div>
