<div class="card">
  <h1 align="center"><%= current_round.deck.category %> </h1>

    <p align="center"><%= Card.find_by(id: last_guessed_card).question %></p><br>

  <form action='/guesses' method="post">
    <input type="text" placeholder="Enter your guess" name="user_guess">
    <input type="submit" value="Guess">
  </form>
</div>
