<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/cards.css">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <!--

    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Trizzlit Deck</title>
</head>
<body>
  <div class="heading">
    <footer>
      <img class="logo" src="http://apps.fellowes.com/microsite/IdeaCenter/projects/school/flash-cards/math-multiplication/preview.png"></img>
    </footer>

    <footer class='trizzlit'>
      Trizzlit
    </footer>

      <footer align="right">
        <a href="/user/user.id" style="color:white">PROFILE</a> | <a href="/user/user.id" style="color:white">LOGOUT</a> | <a href="/rounds/new?id=1" style="color:white">HOME</a>
      </footer>

  </div>

  <%= yield %>
  <footer></footer>
</body>
<footer> Image Source: http://apps.fellowes.com/microsite/IdeaCenter/idea/school/flash-cards/math-multiplication </footer>
</html>
