<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/cards.css">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Trizzlit Deck</title>
</head>
<body>
  <div class="heading">
    <footer>
      <img class="logo" src="http://apps.fellowes.com/microsite/IdeaCenter/projects/school/flash-cards/math-multiplication/preview.png"></img>
    </footer>

    <footer class='trizzlit'>
      Trizzlit
    </footer>

      <footer align="right">
        <%if logged_in? == false%>
          <a href="/users/new" style="color:white">SIGN UP</a> | <a href="/sessions/new" style="color:white">LOG IN</a>
        <% else %>
          Hello, <%= current_user.username %> | <a href="/logout" style="color:white">LOG OUT </a>
        <% end %>
        | <a href="/" style="color:white">HOME</a>
      </footer>

  </div>
  <%= yield %>
  <footer></footer>
</body>
<!-- <footer> Image Source: http://apps.fellowes.com/microsite/IdeaCenter/idea/school/flash-cards/math-multiplication </footer> -->
</html>
